
#root {
  position: relative;
}

.firstColumn p {
  font-size: 16px;
  margin: 25px 0;
}

.secondColumn {
  position: relative;
}

.buttonWrapper {
  position: absolute;
  right: 0
}

.buttonWrapper button {
  margin: 8px
}

a {
  color: inherit;
  text-decoration: none
}